body {
    display: flex;
    flex-direction: column;
    margin: 25px;

    background: url(Image/無題492_20230722183023.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-attachment: fixed;
    background-size: 100% auto;
}

ul {
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
h1 {
    margin-bottom: 3px;
    font-size: 3em;
}
hr {
    margin: 0;
}
img{
    width: 300px;
    border-radius: 15px;
    background-color: white;
    border: 80% 80% !important;
}

.Movie_one {
    flex-direction: column !important;
}
.Movie_two {
    flex-direction: column !important;
}
li video{
    padding: 0 10%;
    width: 80%;
    border-radius: 10px;
    height: 80%;
}
.Logo img{
    width: 100px !important;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
}

.Button {
    font-size: 1.5rem;
}
.AdobeAnim {
    margin: 0;
    padding: 0;
    width: 100%;
}
.text {
    padding: 5%;
    text-align: center;
    justify-content: center;
}

.Logos ul {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Logos p {
    text-align: center;
}
.Illustrations p {
    text-align: center;
}
.Illustrations ul {
    display: grid;
    grid-template-columns: repeat(3,300px);
}
.Illustrations ul li p {
    font-size: small;
}

@media (width <= 600px){
    body{
        margin: 10px;
    }
    header {
        height: 50px;
        width: 100%;
    }
    ul {
        padding: 0;
    }
    h1 {
        font-size: 2rem;
    }

    .Logo img{
        width: 50px !important;
    }

    .Button {
        font-size: 0.8rem;
    }
    .Illustrations ul {
        display: grid;
        grid-template-columns: repeat(2,180px);
    }
    img {
        width: 150px;
    }
}