body {
    display: flex;
    flex-direction: column;
    margin: 25px;

    background: url(Image/無題492_20230724093054.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-attachment: fixed;
    background-size: 100% auto;
}

ul {
    padding: 5px;
    list-style: none;
}
h1 {
    margin-bottom: 3px;
    font-size: 3em;
}
hr {
    margin: 0;
}

img{
    width: 50%;
    height: auto;
    border-radius: 15px;
    background-color: white;
}
video{
    width: 60%;
    border-radius: 10px;
    height: auto;
}
.Logo img{
    width: 100px !important;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
}

.Button {
    font-size: 1.5rem;
}


@media (width <= 600px){
    body{
        margin: 10px;
    }
    header {
        height: 50px;
        width: 100%;
    }
    ul {
        padding: 0;
    }

    .Logo img{
        width: 50px !important;
    }

    .Button {
        font-size: 0.8rem;
    }
}