body {
    display: flex;
    flex-direction: column;
    margin: 25px;

    background: url(Image/無題492_20230724093054.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-attachment: fixed;
    background-size: 100% auto;
}

img{
    width: 50%;
    height: auto;
    border-radius: 15px;
    background-color: white;
}
video{
    width: 60%;
    height: auto;
}
.Logo img{
    width: 100px !important;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
}

.Button {
    font-size: 1.5rem;
}