body {
    display: flex;
    flex-direction: column;
    margin: 25px;

    background: url(Image/無題492.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-attachment: fixed;
    background-size: 100% auto;
}

ul {
    padding: 5px;
    display: flex;
    flex-direction: row;
}
h1 {
    margin-bottom: 3px;
    font-size: 3em;
}
hr {
    margin: 0;
}
li {
    width: 60%;
}
img{
    width: 100%;
    border-radius: 15px;
    background-size: cover !important;
}
.Logo img{
    width: 100px !important;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
}

ul{
    list-style: none;
}

.text {
    width: 30%;
    text-align: center;
}

.Button {
    font-size: 1.2rem;
}

@media (width <= 600px){
    body{
        margin: 10px;
    }
    header {
        height: 50px;
        width: 100%;
    }
    ul {
        padding: 0;
    }
    h1 {
        font-size: 1.3em;
    }

    .Logo img{
        width: 50px !important;
    }

    .Button {
        font-size: 0.8rem;
    }
}